@theme "~/.config/rofi/tokyonight/tokyonight.rasi"
//@theme "/usr/share/rofi/themes/tokyonight.rasi"
//@theme "/usr/share/rofi/themes/tokyonight.rasi"
//@theme "/usr/share/rofi/themes/Adapta-Nokto.rasi"
//@theme "/usr/share/rofi/themes/tokyonight.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/tokyonight.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
